/* Elephant Analysis Pipeline version 0.3.0
Michael G. Campana, 2023-2025  
Smithsonian's National Zoo and Conservation Biology Institute

The software is made available under the Smithsonian Institution terms of use (https://www.si.edu/termsofuse). */

manifest {

	name = 'Elephant Analysis Pipeline'
	author = 'Michael G. Campana'
	homePage = 'https://github.com/campanam/Elephants'
	description = 'Pipeline to analyze elephant genomics'
	mainScript = 'elephants.nf'
	version = '0.3.0'
	nextflowVersion = '>=23.10.0'

}

params {

	outdir = "" // Output directory
	refseq = "" // Genome reference sequence
	csi = false // Use csi index (e.g. for chr > 512 Mb)
	circular_mtDNA = false // Perform secondary independent circular alignment of mitochondrial DNA
	mtDNA = "" // Mitochondrial reference sequence file if separate circular alignment performed
	mtDNA_ID = '' // Name of mtDNA sequence in reference sequence file
	samples = "" // CSV detailing sequencing libraries and needed analyses
	reads = "$launchDir/RawData/" // Path to reads
	read_trimming = false // Trim reads using AdapterRemoval v2
	trimparams = '--trimns --trimqualities --minlength 30' // Parameters for read-trimming.
	min_uniq_mapped = 10 // Minimum number of unique mapped reads to retain an alignment file
	java_options = '-D64 -Dserver -XX:MaxHeapSize=14G' // Options for Java
	markDuplicates = "samtools" // Choice of "picard", "samtools" or "sambamba" for markDuplicates
	gatk = true // Run GATK genotyping (true or false)
	email = "NULL" // Email to send completion status to. Set to "NULL" for no email.
	
	psmc = true // Run PSMC analysis (true or false)
	psmc_opts = '-N25 -t15 -r5 -p "4+25*2+4+6"' // Parameter line for PSMC program
	psmc_mpileup_opts = '-q20' // BCFtools mpileup filter options for PSMC
	psmc_vcfutils_opts = '-d 10' // vcfutils.pl filter options for PSMC
	psmc_psmcfa_opts = '-q20' // fq2psmcfa options
	psmc_bootstrap = 100 // Number of PSMC bootstrap replicates
	psmc_plot_opts = '-u 1.0E-9 -g 2 -Y 1000' // Options for psmc_plot.pl
	
}

conda.enabled = true
conda.useMamba = true // Install Conda environments using Mamba manager

profiles {
	african {
	
		params {
			
			outdir = "$launchDir/african_results"
			refseq = "/scratch/nzp_ccg/refidx/loxAfr4.fa"
			mtDNA = "/scratch/nzp_ccg/refidx/lox_af_mt.fa"
			mtDNA_ID = 'NC_000934.1'
			samples = "$launchDir/africans.csv"
		
		}
	
	}
	
	asian {
	
		params {
		
			outdir = "$launchDir/asian_results"
			refseq = "/scratch/nzp_ccg/refidx/HiCKandula_yahs_scaffolds_final.fa"
			mtDNA = "/scratch/nzp_ccg/refidx/ele_ma_mt.fa"
			mtDNA_ID = 'NC_005129.2'
			samples = "$launchDir/asians.csv"
		
		}
	
	}
	
	drep {
	
		params {
		
			outdir = "$launchDir/drep_results"
			refseq = "/scratch/nzp_ccg/refidx/hofi_genome_genbank_v2_masked.fa"
			mtDNA = "/scratch/nzp_ccg/refidx/hofi_mt.fasta"
			mtDNA_ID = 'NC_025610.1'
			samples = "$launchDir/dreps.csv"
		
		}
	}
	
	standard {
	
		executor = 'local'
		
		process {
			errorStrategy = 'finish'
			maxRetries = 3
			
			withName: 'prepareRef|prepareMitoRef|alignMitoSeqs|alignSeqs|flagStats|mergedFlagStats|mergeSampleBAM' {
				conda = 'bioconda::bwa=0.7.19 bioconda::samtools=1.22.1 conda-forge::libzlib=1.3.1 bioconda::circularmapper=1.93.5'
			}
			withName: 'markDuplicates|mergedMarkDup;' {
				if ( params.markDuplicates == "picard" ) {
					conda = 'bioconda::picard=3.4.0'
				} else if (params.markDuplicates == 'samtools') {
					conda = 'bioconda::samtools=1.22.1 conda-forge::libzlib=1.3.1'
				} else {
					conda = 'bioconda::sambamba=1.0.1'
				}
			}
			withName: 'leftAlignIndels|callMtVariants|callGenomeVariants' {
				conda = 'bioconda::gatk4=4.6.2.0 bioconda::picard=3.4.0 bioconda::samtools=1.22.1 conda-forge::libzlib=1.3.1'
			}
			withName: 'trimReads' {
				conda = 'bioconda::adapterremoval=2.3.4 conda-forge::libzlib=1.3.1'
			}
			withName: 'runPSMC' {
				conda = 'bioconda::bcftools=1.22.1 conda-forge::libzlib=1.3.1 conda-forge::gsl=2.7 bioconda::psmc=0.6.5 conda-forge::gnuplot=5.4.8'
			}
		}
	}
	
	hydra {
	
		executor {
	
			name = 'sge'
			exitReadTimeout = '10min'
	
		}
	
		process {
			maxForks = 1000 // Prevent job submission overflow
			storeDir = 'chkpnt' // Prevent remaking completed files
			errorStrategy = 'finish'
			maxRetries = 3
			
			withName: 'prepareRef|prepareMitoRef' { 
				clusterOptions = '-l mres=16G,h_data=16G,h_vmem=16G,himem -S /bin/bash'
				queue = 'mThM.q'
				storeDir = '/scratch/nzp_ccg/refidx'
			}
			withName: 'trimReads' { 
				queue = 'mThC.q'
				clusterOptions = default_medium_options
				conda = 'bioconda::adapterremoval=2.3.4 conda-forge::libzlib=1.3.1'
			}
			withName: 'alignMitoSeqs|alignSeqs|markDuplicates|mergedMarkDup|mergeSampleBAM' { 
				queue = 'mThM.q'
				penv = 'mthread'
				cpus = 16
				clusterOptions = "-l mres=8G,h_data=8G,h_vmem=8G,himem -S /bin/bash"
			}
			withName: 'prepareRef|prepareMitoRef|alignMitoSeqs|alignSeqs|flagStats|mergedFlagStats|mergeSampleBAM' {
				conda = 'bioconda::bwa=0.7.19 bioconda::samtools=1.22.1 conda-forge::libzlib=1.3.1 bioconda::circularmapper=1.93.5'
			}
			withName: 'markDuplicates|mergedMarkDup;' {
				if ( params.markDuplicates == "picard" ) {
					conda = 'bioconda::picard=3.4.0'
				} else if (params.markDuplicates == 'samtools') {
					conda = 'bioconda::samtools=1.22.1 conda-forge::libzlib=1.3.1'
				} else {
					conda = 'bioconda::sambamba=1.0.1'
				}
			}
			withName: 'leftAlignIndels|callMtVariants|callGenomeVariants' {
				cpus = 2
				penv = 'mthread'
				clusterOptions = '-l mres=16G,h_data=16G,h_vmem=16G,himem -S /bin/bash'
				queue = 'mThM.q'
				conda = 'bioconda::gatk4=4.6.2.0  bioconda::picard=3.4.0 bioconda::samtools=1.22.1 conda-forge::libzlib=1.3.1'
			}
			withName: 'flagStats|mergedFlagStats' { 
				clusterOptions = "-l mres=2G,h_data=2G,h_vmem=2G -pe mthread 8 -S /bin/bash"
				queue = 'sThC.q'
			}
			withName: 'runPSMC' {
				clusterOptions = '-l mres=16G,h_data=16G,h_vmem=16G,himem -S /bin/bash'
				queue = 'mThM.q'
				conda = 'bioconda::bcftools=1.22.1 conda-forge::libzlib=1.3.1 conda-forge::gsl=2.7 bioconda::psmc=0.6.5 conda-forge::gnuplot=5.4.8'
			}
		}
	}
}
